<!--Header  -->
<app-header></app-header>
<!--Fin de Header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container">

      <div class="intro-img">
        <img src="../assets/img/intro-img.svg" alt="" class="img-fluid">
      </div>

      <div class="intro-info">
        <h2>We provide<br><span>solutions</span><br>for your business!</h2>
        <div>
          <a href="#about" class="btn-get-started scrollto">Get Started</a>
          <a href="#services" class="btn-services scrollto">Our Services</a>
        </div>
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      About Us Section
    ============================-->    
    
    <app-about-us></app-about-us>

    <!-- #about -->

     <!--Services-->

     <router-outlet></router-outlet>
     
      <app-services></app-services>
    <!--Services-->
    <!--==========================
      Why Us Section
    ============================-->
   
    <app-why-us-section></app-why-us-section>
    <!--==========================
      Portfolio Section
    ============================-->

    <app-portfolio></app-portfolio>

    <!-- #portfolio -->

    <!--==========================
      Clients Section
    ============================-->

    <app-testimonials></app-testimonials>

    <!-- #testimonials -->

    <!--==========================
      Team Section
    ============================-->

    <app-team></app-team>
    
    <!-- #team -->

    <!--==========================
      Clients Section
    ============================-->
    
    <app-clients></app-clients>

    <!--========================
      Contact Section
    ============================-->

    <app-contact></app-contact>


    <!-- #contact -->

  </main>

<!--Footer  -->
<app-footer></app-footer>
<!--Fin de Footer  -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->










 <!--<router-outlet></router-outlet>-->